#box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}

#box2{
    height: 50px;
    width: 50px;
    /* width: 30%; i occupies the parents width . it occupies
    30% of 100px */

    background-color: yellow;
    margin-left: 10%;
    /* it takes 10% of 100% */

    font-size: 2em;

    /* sets the font size double to the parent size (if 3 means thiple to 
    the parent div) (5 means 5 times,0.5 means half) */
    width: 5em;
    /* (becomes 20*5 100 pxs) */
/* 
    by deafult the size of elements is 20px ;
    so if we 
    width: 4rem;
    to change the root of all the elements
    becomes(4*16)px
     */
}



